/* ==UserStyle==
@name           linkedin.com UX improvements
@namespace      github.com/rrrix/usercss
@version        1.0.0
@author         rrrix
==/UserStyle== */

@-moz-document domain("linkedin.com") { 
  /* Always show full post content */
  div.feed-shared-inline-show-more-text {
    max-height: 100% !important;
  }
 
  /* Hide "...see more" button */
  div.feed-shared-inline-show-more-text > button.see-more {
    display: none;
  }

  /* Hide useless celebration images */
  div.feed-shared-celebration-image {
    display: none !important;
  }  

}
